.tree-view .tree,
.tree-view .sub-tree {
  list-style-type: none;
  padding-left: 0;
}
.tree-view .sub-tree {
  padding-left: 18px;
}

.tree-view .sub-tree.last {
  padding-left: 12px;
}

.tree-view .sub-tree li {
  padding-top: 5px;
}

.tree-view .plus-minus {
  padding-right: 5px;
  font-size: 18px;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}
