.wrapper {
  max-width: 960px;
}

.loader-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  text-align: center;
  line-height: 1.6rem;
}

.loader-container .loader-container__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 5px;
}

.input {
  height: 36px;
  line-height: 1.45;
  width: calc(100% - 22px);
  font-size: 20px;
  padding: 10px;
  border: "none";
}

.button {
  font-size: 18px;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: transparent;
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
  height: 55px;
}
